<!DOCTYPE html>
<html>
<head>
  <title>ServerSideGoogleMapsApi</title>
  <%= stylesheet_link_tag    "server_side_google_maps_api/application", :media => "all" %>
  <%= javascript_include_tag "server_side_google_maps_api/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
